@font-face {
    font-family: "omnes";
    src: url(font-family/Omnes\ Light.woff);
}

@font-face {
    font-family: "alt-gothic";
    src: url(font-family/AlternateGotNo3D.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1vw 10vw;
}

.name {
    font-family: "alt-gothic";
    font-size: 30px;
    color: #15B392;
}

.menu>ul {
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "alt-gothic";
    color:  #15B392;
    font-size: 26px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15B392;
    height: 60vh;
}

.hero-text {
    color: white;
    width: 500px;
}

.main-text {
    font-family: "alt-gothic";
    font-size: 48px;
}

.secondary-text {
    font-family: "omnes";
    font-size: 18px;
    color: white;
}

.roster {
    text-align: center;
    font-family: "alt-gothic";
}

.help {
    text-align: center;
    font-family: "alt-gothic";
    background-color: #15B392;
}

.roster-heading {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #15B392;
}

.help-heading {
    padding-top: 20px;
    margin-bottom: 30px;
    color: white;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.info-set {
    display: flex;
    align-items: center;
    gap: 20px
}

.image-set {
    display: flex;
    flex-direction: column;
}

.player-info,
.help-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    gap: 10px;
}

.player-info > h1 {
    color:#15B392;
}

.player-info > p {
    font-size: 20px;
}

.player-info > a {
    color: black;
    font-family: "alt-gothic";
}

.help-info > h1 {
    color: white;
}

.help-info > p {
    font-size: 25px;
}

.help-info > a {
    color: black;
    font-family: "alt-gothic";
}

.player-img {
    width: 200px;
    height: 200px;
    border: 8px solid #e2012d;
    border-radius: 20px;
    margin: 15px 0;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    font-family: "omnes";
    margin-bottom: 20px;
}

.quotee {
    font-size: 20px;
    text-align: right;
    font-family: "alt-gothic";
}

.sign-up-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    background-color: #15B392;
    padding: 30px 100px;
}

.sign-up-text > h3 {
    font-family: "alt-gothic";
    font-size: 24px;
}

.sign-up-text > span {
    font-family: "omnes";
    font-size: 16px;
}

.sign-up-button {
    font-size: 16px;
    font-family: "alt-gothic";
    padding: 10px 24px;
    color: white;
    background-color: #15B392;
    border: 3px solid white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
    font-family: "omnes";
    font-weight: 900;
}

