@font-face {
    font-family: "omnes";
    src: url(font-family/Omnes\ Light.woff);
}

@font-face {
    font-family: "alt-gothic";
    src: url(font-family/AlternateGotNo3D.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1vw 10vw;
}

.menu>ul {
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "omnes";
    color: white;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2012d;
    height: 60vh;
}

.hero-text {
    color: white;
    width: 500px;
}

.main-text {
    font-family: "alt-gothic";
    font-size: 48px;
}

.secondary-text {
    font-family: "omnes";
    font-size: 18px;
}

.roster {
    text-align: center;
    font-family: "alt-gothic";
}

.roster-heading {
    margin-top: 20px;
    margin-bottom: 30px;
}

.players {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.player-info {
    max-width: 200px;
}

.player-img {
    width: 200px;
    height: 200px;
    border: 8px solid #e2012d;
    border-radius: 20px;
    margin: 15px 0;
}

